.box{
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

@media (max-width: 500px){
    .box{
        display: none;
    }
}
@media (min-width: 500px){
    .box{
        display: block;
    }
}